/* Reset styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
   font-family: "Bebas Neue", sans-serif;
   transition: background-color 500ms ease-in;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* modal */

.modal__backdrop {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.51);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms linear;
}

.modal__container {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 20px;
}

.modal__backdrop.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal__close__button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  transition: transform 300ms linear;
}
.modal__close__button:hover {
  transform: scale(1.3);
}

.gallery__list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.gallery__item {
  flex: 0 0 calc(30% - 15px);
}

/* nav */

.nav__list {
display: flex;
gap: 20px;
padding: 20px;
}

/* .nav__item {
 
} */

.nav__link {
  font-size: 25px;
color: whitesmoke;
}